# Jetbrains stuff
/.idea/

# Temporary files
\#*
*.swp
*.swo
*~

# Patch-related files
*.orig
*.rej

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
